body{
  margin: 0;
  font-size: 5em;

}
.banner {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.banner::before {
  content: '';
  position: absolute;
  inset: 0;
  background:
    url('img/after.png') top/cover no-repeat,
    url('img/index_bg1.jpg') center/cover no-repeat;
  z-index: -1;
  pointer-events: none;
  will-change: transform;
  animation: bgZoom 3s ease-in-out forwards;
}

@keyframes bgZoom {
  0% {
    transform: scale(1); /* zoom sur l'image principale */
  }
  50% {
    transform: scale(1.25); /* état normal */
  }
  100% {
    transform: scale(1.50); /* zoom sur l'overlay */
  }
}

svg path {
  fill: transparent;
  stroke: #fff;
  stroke-width: 1;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: textAnimation 4s ease-in-out 1 forwards;
  transform: scale(1.5);

}
@keyframes textAnimation {
  0% {
    stroke-dashoffset: 50;
  }
  80% {
    fill: transparent;
  }
  100% {
    fill: #fff;
    stroke-dashoffset: 0;
  }
}


/* button css */
.flex {
  position: relative;
  z-index: 10;
}

/* --- Optionnel : ajout d’un petit effet d’échelle au survol --- */
button:hover {
  transform: scale(1.05);
}

.box {

    border-radius: 20px;
     background-color: transparent;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}
.box::after,
.box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    --angle: 0deg;
    background-image: conic-gradient(
        from var(--angle), #2c3c31, #324732, #0d3502
    );
    animation: autoRotate 2s linear infinite;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 5px;
    box-sizing: unset;
}
.box::after {
    filter: blur(60px);
}

.box:hover::before,
.box:hover::after {
    background-image: conic-gradient(
        from var(--angle),
        #ff6b6b,  /* Nouvelle couleur 1 */
        #4ecdc4,  /* Nouvelle couleur 2 */
        #45aaf2   /* Nouvelle couleur 3 */
    );
    animation-duration: 1s; /* Animation plus rapide au survol */
}


@keyframes autoRotate {
    to {
        --angle: 360deg;
    }
}


button {
    background-color: transparent;
    border: 2px solid #ffffff; /* Bordure visible */
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Léger effet au survol */
}


